@media all and (min-width: 200px) {
    
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 5fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 720px;
        }
    
    body {margin:0;}
    
    header {
        grid-column-start: 1;
        grid-column-end: 4;
        background-color:darkolivegreen;
    }
    
    aside {display: none;}
    
    img {border-radius: 50%;} 
    
    article {
        margin: 0px;
        padding:0%;
        grid-column-start: 2;
        grid-column-end: 5;
        height: auto;
    }
    
    footer {
        margin: 0px;
        padding:0%;
        grid-column-start: 1;
        grid-column-end: 4;
        background-color:darkgreen;
    }
    
    nav {
        margin: 0px;
        padding:0%;
        grid-column-start:1 ;
        grid-column-end: 4;
        list-style-type: none;
        background-color:dimgrey;
    }
    
    nav li {display:inline;}
}


@media all and (min-width: 640px) {
    
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 5fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 720px;
    }
    
    body {margin:0;}

    header {
        grid-column-start: 1;
        grid-column-end: 4;
        background-color:darkolivegreen;
    }
    
    aside {
        margin: 0px;
        padding:0%;
        display:block;
        grid-column: 1;
        grid-column-end: 2;
        background-color:darkslategray;
    }

    img {border-radius: 50%;}
    
    article {
        margin: 0px;
        padding:0%;
        grid-column-start: 2;
        grid-column-end: 5;
        height: auto;
    }
  
    footer {
        margin: 0px;
        padding:0%;
        grid-column-start: 1;
        grid-column-end: 4;
        background-color:darkgreen;
    }
    
    
    nav {
        margin: 0px;
        padding:0%;
        grid-column-start:1 ;
        grid-column-end: 4;
        list-style-type: none;
        background-color:dimgrey;
    }
    
    nav li {display:inline;}
}

@media all and (min-width: 960px) {
    
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 5fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 720px;
    }
    
    body {margin:0px;}

    header {
        grid-column-start: 1;
        grid-column-end: 4;
        background-color: darkolivegreen;
    }
    
    aside {
        margin: 0px;
        padding:0%;
        height:auto;
        grid-column: 1;
        grid-column-end: 2;
        background-color: darkslategray;
    }
    
    img {border-radius: 50%;}
    
    article {
        margin: 0px;
        padding:0%;
        grid-column-start: 2;
        grid-column-end: 5;
        height: auto;
    }
  
    footer {
        margin: 0px;
        padding:0%;
        grid-column-start: 1;
        grid-column-end: 4;
        background-color:darkgreen;
    }
    
    
    nav {
        margin: 0px;
        padding:0%;
        grid-column-start:1 ;
        grid-column-end: 4;
        height: 20px;
        list-style-type: none;
        background-color:dimgrey;
    }
    
    nav li {display:inline;}

}